@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 60%;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: -10%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
  height: auto;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 1.8rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 480px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: auto;
  border-radius: 55px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 10px;
  overflow: hidden;
}

.input-field i {
  color: #acacac;
  font-size: 1.1rem;
  min-width: 40px;
  text-align: center;
}

.input-field input,
.input-field textarea {
  background: none;
  outline: none;
  border: none;
  width: 100%;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0.8rem 0;
  resize: vertical;
}

.input-field input::placeholder,
.input-field textarea::placeholder {
  color: #807373;
  font-weight: 500;
}

.input-field textarea {
  height: 80px;
  border-radius: 20px;
  resize: vertical;
  padding: 1.8rem 0; 
  display: flex;
  justify-content: center;
}

.btn {
  width: 470px;
  background-color: #305fb1;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 150px;
}

.btn:hover {
  background-color: #061b3f;
}

.input-field {
    margin-bottom: 0.8rem;
  }
  
.custom-file-label {
    display: inline-block;
    padding: 0.6em 1.2em;
    background-color: #5082c4;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 1em;
    font-size:10px;
}

  input[type="file"] {
    display: inline-block;
  }

  input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
  }

  input[type="file"]::before {
    content: "No file chosen";
    color: #807373;
    margin-left: 10px;
  }

.social-text{
  font-size: 22px;
  color: #000851;
}
.company{
  font-size: 12px;
  color: #acacac;
}

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -20px;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}


.panel {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  justify-content: center; 
  text-align: center;
  z-index: 6;
  margin-top: -40px;
}

 .left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
} 

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 3.0rem;
}

.panel h2 {
    font-size: 3.5rem;
  }
  

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

.button-91 {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 250px;
  height: 90px;
  background-image: linear-gradient(to top, #0056b3 0%, #007bff 80%, #3399ff 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  
}

.button-91:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.button-91:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.button-91:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

@media (min-width: 992px) {
  .button-91 {
    width: 300px; 
    height:120px;
    font-size: 25px;
    
  }
}




@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .panel .content {
    padding: 0.5rem 1rem;
  }

  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 83%!important;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }

  .forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 8%;
    left: 0;
  }

  .panel h2 {
    font-size: 1.5rem !important;
  }

  .panel h3 {
    font-size: 1.1rem!important;
  }

  .panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .data_enter {
    width: 100%;
    top: 5% ;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .social-text {
    font-size: 14px!important;
    color: #000851;
  }

  .company {
    font-size: 12px!important;
    color: #acacac;
  }

  .btn {
    width: 310px!important;
    margin-bottom: 0px;
    font-size: 5px;
  }
}


@media (max-width: 768px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }

  .signin-signup {
    width: 100%;
    top: 50%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
    left: 50%;
  }

  .container.sign-up-mode .signin-signup {
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0);
  }

  .panels-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h2 {
    font-size: 1.3rem;
  }

  .panel h3 {
    font-size: 1.0rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 9%;
    left: 0;
  }

  .btn {
    width: 105px;
    font-size: 11px;
  }

  .social-text {
    font-size: 15px;
    color: #000851;
  }
}

@media (max-width: 1024px) {
  form {
    padding: 0 1.5rem;
  }

  .panel .content {
    padding: 0.5rem 1rem;
  }

  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 80%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }

  .forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 8%;
    left: 0;
  }

  .panel h2 {
    font-size: 2.5rem;
    margin-top:50px ;
  }

  .panel h3 {
    font-size: 2.1rem;
  }

  .panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .data_enter {
    width: 100%;
    top: 75% !important;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }
  

  .social-text {
    font-size: 18px;
    color: #000851;
  }

  .company {
    font-size: 12px;
    color: #acacac;
  }

  .btn {
    width: 135px;
  }

  
}


